
@font-face { font-family: 'GrandeeCP';
             src: url('../fonts/grandeecp.otf') format('truetype'),
                  url('../fonts/grandeecp.woff') format('woff');
             font-weight: normal;
             font-style: normal; }

@font-face { font-family: 'Dicier';
             src: url('../fonts/Dicier-Round-Light.otf') format('truetype'),
                  url('../fonts/dicier-round-dark-webfont.woff') format('woff');
             font-weight: normal;
             font-style: normal; }

html {  line-height:  1.5;
        font-size:    1.25em;
        background:   #fffff8; /* #fdfdfd */
        color:        #2d3335; }

body { width:       90%;
       max-width:   45em;
       max-width:   70ch;
       padding:     3em 1em;
       font-family: sans-serif;
       margin:      auto; }

a { color:            #111;
    text-decoration:  underline #c51d4a; }

/* q { quotes: "« " " »" "‘" "’" ; } */
q { quotes: auto ; }
h1, h2, h3  { font-family:  "GrandeeCP"; }
h2, h3      { margin-top:   2.5em; }
h2          { border-top:   1px solid #c51d4a; }

hr  { color:      #c51d4a;
      border-top: 1px solid #c51d4a; }

table { margin: 1em; }

code  { font-size: larger; }

thead th { border-bottom: 1px solid #c51d4a; }
table > tbody > tr.divider > td { padding-bottom: 5px;
                                  border-bottom:  1px solid #c51d4a; }

th, td { padding: 10px 20px; }

blockquote { font-style: italic; }

.dice { font-family: "Dicier"; }

pre { font-size:  smaller;
      border:     1px solid #c51d4a;
      overflow:   auto;
      /* background: #fdfdfd; #f0f0f0 or #f9f2f4* and color: #c7254e */
      padding:    1em; }

p.date, p.author {  margin-top:   -1em;
                    margin-bottom: 2em; }

dl  { border-top: 1px solid black;
      padding:    1em; }

time, dt span, dd.tags, dd.author { color: gray; }

figure, img           { max-width:  90vw; }
/* https://techstacker.com/full-screen-width-images-only-css/ */
figure.full, img.full { position:     relative;
                        left:         50%;
                        right:        50%;
                        /* margin-left: -50vw; */
                        margin-right: -50vw;
                        max-width:    100vw;
                        width:        100vw; }

figcaption            { text-align: center;
                        font-size:  smaller;
                        color:      gray; }

.centered { left:       50%;
            transform:  translateX(-50%);
            position:   relative; }

/*
span.underline{text-decoration: underline;}
*/
span.underline{ background: rgba(0, 0, 0, 0) linear-gradient(transparent 60%, rgb(255, 206, 219) 0%) repeat scroll 0% 0%; }

header {  display:    flex;
          flex-flow:  row wrap; }

header section { flex:          3;
                 padding-right: 1em; }

header h1 { margin-bottom:  0;
            font-size:      2em; }

header p  { margin-top: 0;
            font-style: italic;
            font-size:  smaller; }

header ul { border:         1px dashed gray;
            padding:        1em;
            text-align:     right;
            list-style:     none;
            color:          gray;
            border-radius:  5px;
            font-size:      smaller; }

sup   { vertical-align: top;
        font-size:      0.6em;
        font-weight:    bold; } /* prevent footnote markers to mess with line-height. */

aside { color:        gray;
        padding:      1em;
        border-left:  1px solid #c51d4a; }

details { border: 1px solid gray;
          padding: 0.5em;
          color: gray;
          border-radius: 5px;
          font-size: smaller; }

@media (prefers-color-scheme: dark) {
  html {  background:       #2d3335; /* #fdfdfd */
          color:            #fffff5; }
  a     { color:            #fffff8;
          text-decoration:  underline #1dc598; }
  h2    { border-top:       1px solid #1dc598; }
  hr    { color:            #1dc598;
          border-top:       1px solid #1dc598; }
  pre   { border:           1px solid #1dc598; }
  aside { border-left:      1px solid #1dc598; }
}

@media all and (max-width: 800px) {
  header    { flex-direction: column; }
  header ul { flex-grow:      1; }
}

@media all and (min-width: 1200px) {
  aside { float:          right;
  	      clear:          right;
  	      margin-right:   -60%;
  	      width:          50%;
  	      margin-top:     0.3rem;
  	      margin-bottom:  0px;
  	      font-size:      0.8rem;
  	      line-height:    1.3;
  	      vertical-align: baseline;
  	      position:       relative; }
}

@media print {
  a:after { content: "("attr(href)")"; }
}
