
@font-face {
    font-family: 'EBGaramond';
    src: url('../fonts/EBGaramond/EBGaramond12-Regular.woff');
/*
    src: url('../fonts/ebgaramond12-regular-webfont.woff');
*/ 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EBGaramond';
    src: url('../fonts/EBGaramond/EBGaramond12-Italic.woff');
/*
    src: url('../fonts/ebgaramond12-italic-webfont.woff');
*/
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'EBGaramond';
    src: url('../fonts/EBGaramond/EBGaramond12-AllSC.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bungee Hairline';
    src: url('../fonts/Bungee/Bungee-Hairline.woff');
    font-weight: normal;
    font-style: normal;
}

body {  max-width: 32em;
        /* background: #f9f9fa; */
        background: #F5F5F0;
        color: #111111;
        margin: auto;
        font-family: EBGaramond;
        font-size: 1.5em;
        font-size: calc(0.625rem + 2vw);
        padding: 1em; }

h1 { font-family: "Bungee Hairline"; }

h1, .footnote-ref, .footnote-back, .dropcap { color: #e00404;
                                              text-decoration: none; }

h1, h2, h3, figcaption, table { text-align: center;
                                margin: auto;
                                hyphens: none; }

h2:before, h3:before  { content: "<\00202F"; }
h2:after, h3:after    { content: "\00202F>"; }

p, li { line-height: 1.5em; }

/*
q       { quotes: "«\00202F" "\00202F»" "“" "”"; }
q.start { quotes: "«\00202F" "" "“" "”"; }
q.end   { quotes: "" "\00202F»" "“" "”"; }
*/

/*
blockquote {  quotes: "«\00202F" "\00202F»" "“" "”";
              margin-inline-start: 0px;
              margin-inline-end: 0px;
              line-height: 1.5;
              text-indent: -1.8ex; }

blockquote:before       { content: "«\00202F"; }
blockquote:after        { content: "\00202F»"; }
blockquote.start:before { content: "«\00202F"; }
blockquote.start:after  { content: ""; }

.mono { font-family: monospace; }
.sqrt { text-decoration: overline; }
*/

.sqrt { border-top: 1px solid; }

hr    { border: 1px dashed gray; }

sup   { vertical-align: top;
        font-size: 0.6em;
        font-weight: bold; } /* prevent footnote markers to mess with line-height. */

li ol { list-style: lower-alpha; }

data.pagebreak {  color: gray;
                  display: block;
                  text-align: right;
                  border-top: 1px dashed gray; }

details { border: 1px solid gray;
          padding: 0.5em;
          color: gray;
          line-height: .5em;
          border-radius: 5px;
          font-size: smaller; }

@media (min-width: 62.5rem) { body { font-size: 1.5em; }}

/*
img, figure { float: right;
              shape-image-threshold: .2;
              shape-margin: 6px;
              width: 10em; }
.math { color: #013131; /* #380b0b;
        font-family: monospace; }
.smallcaps { font-weight: bold; }
.dropcap {  font-family: 'Bungee Hairline' !important;
            float: left;
            font-size: 75px;
            line-height: 60px;
            padding: 4px 8px auto 3px;
            margin: 4px 8px auto 3px;
            border: 1px solid #e00404;
            border-radius: 8px; }
blockquote.end { text-indent: 0; }
blockquote.end:before { content: ""; }
blockquote.end:after { content: "\a0»"; }
quotes: "‘" "’" "“" "”";
quotes: "«&nbsp;" "&nbsp;»"; HTML entities don't work in css content ...
*                            we use unicode instead: U+00A0
*                                         or better: U+202F
* text-indent: -1ex; for hanging. But q is nested into p ...
*/

/*
.downref {
  width: 100vw;
}
button {  font-family: inherit;
          font-size: inherit;
          padding: 0.5em; }
*/

/*
https://stackoverflow.com/questions/5214127/css-technique-for-a-horizontal-line-with-words-in-the-middle?noredirect=1

h1:before,
h1:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h1:before {
  right: 0.5em;
  margin-left: -50%;
}

h1:after {
  left: 0.5em;
  margin-right: -50%;
}
*/
